{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst }}</a> &rsaquo;
     <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {{ feature|truncatewords:"18" }}
</div>
{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
  <ul class="object-tools">
  <li><a href="?_change=" class="historylink">{% trans "Edit" %}</a></li>
  <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endblock %}

<p></p>
<div class="module">
<h2>Issue Details<a href="?_change=">(edit)</a></h2>
<table>
	<tr>
		<td><b>ID:</b></td> <td>{{issue.id}}</td>
	</tr>
	<tr>
		<td><b>Description:</b></td> <td>{{issue.description}}</td>
	</tr>
	<Tr>
		<td><b>Date Due:</b></td> <td> {{issue.date_due}}</td>
	</tr>
	<Tr>
		<td><b>Responsible:</b></td> <td> {{issue.responsible}}</td>
	</tr>
	<tr>
		<td><b>Status type:</b></td> <td> {{issue.status}}</td>
	</tr>
	<tr>
		<td><b>Priority:</b></td> <td> {{issue.priority}}</td>
	</tr>
	<tr>
		<td><b>Duplicate for:</b></td> <td> {{issue.duplicate_for}}</td>
	</tr>
	<tr>
		<td><b>Depends on:</b></td> <td> {{issue.depends_on}}</td>
	</tr>

	<tr>
		<td><b>Issued assets:</b></td> <td> <ul>{{issue.assets.all|unordered_list}}</ul></td>
	</tr>
	<tr>
		<td><b>Attachments:</b></td> <td> <ul>{{issue.attachments.all|unordered_list}}</ul></td>
	</tr>
	<tr>
		<td><b>Comments:</b></td> <td> <ul>{{issue.comment_set.all|unordered_list}}</ul></td>
	</tr>


</table> 
</div>
{% endblock %}
