{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst }}</a> &rsaquo;
     <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {{ feature|truncatewords:"18" }}
</div>
{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
  <ul class="object-tools">
  <li><a href="?_change=" class="historylink">{% trans "Edit" %}</a></li>
  <li><a href="{{add_issue_link}}" class="historylink">{% trans "Add issue" %}</a></li>
  <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endblock %}

<p></p>
<div class="module">
<h2>Feature Details<a href="?_change=">(edit)</a></h2>
<table>
	<tr>
		<td><b>Description:</b></td> <td>{{feature.description}}</td>
	</tr>
	<tr>
		<td><b>Status:</b></td> <td>{{feature.status}}</td>
	</tr>
	<Tr>
		<td><b>Binding type:</b></td> <td> <a href="{{ feature.bindingType.get_absolute_url }}">{{ feature.bindingType }}</a></td>
	</tr>
	<Tr>
		<td><b>Priority:</b></td> <td> <a href="{{ feature.priority.get_absolute_url }}">{{ feature.priority }}</a></td>
	</tr>
	<tr>
		<td><b>Variability type:</b></td> <td><a href="{{ feature.variabilityType.get_absolute_url }}">{{ feature.variabilityType }}</a></td>
	</tr>
	<tr>
		<td><b>Observations:</b></td> <td>{{feature.observations}}</td>
	</tr>
	<tr>
		<td><b>Requires:</b></td> 
		<td>
		    {% for feature in feature.requires.all %}
		 <ul><a href="{{ feature.get_absolute_url }}">{{ feature.name }}</a></ul>
		    {% endfor %}
		</td>
	</tr>
	<tr>
		<td><b>Excludes:</b></td> 
		<td>
		    {% for feature in feature.excludes.all %}
		 <ul><a href="{{ feature.get_absolute_url }}">{{ feature.name }}</a></ul>
		    {% endfor %}
		</td>
	</tr>
	<tr>
		<td><b>Parent:</b></td> <td><a href="{{ feature.parent.get_absolute_url }}">{{ feature.parent }}</a></td>
	</tr>
	<tr>
		<td nowrap="nowrap"><b>Modules with this feature:</b></td> 

		<td>
    {% for module in feature.modules.all %}
 <ul><a href="{{ module.get_absolute_url }}">{{ module.name }}</a></ul>
    {% endfor %}
		</td>

	</tr>
	<tr>
		<td nowrap="nowrap"><b>Products with this feature:</b></td> 
		<td> 
			{% for mod in feature.modules.all %}
			    {% for product in mod.product_set.all %}
			 	<ul><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></ul>
			    {% endfor %}
			{% endfor %}
			
		</td>
	</tr>
	<tr>
		<td nowrap="nowrap"><b>Requirements with this feature:</b></td> 
		<td>
		    {% for requeriments in feature.requirement_set.all %}
		 <ul><a href="{{ requeriments.get_absolute_url }}">{{ requeriments.name }}</a></ul>
		    {% endfor %}
		</td>
	</tr>
	<tr>
		<td nowrap="nowrap"><b>Variants with this feature:</b></td> 
		<td>
		    {% for variants in feature.variant_set.all %}
		 <ul><a href="{{ variants.get_absolute_url }}">{{ variants.name }}</a></ul>
		    {% endfor %}
		</td>
	</tr>
	<tr>
		<td><b>Observations:</b></td> <td>{{feature.observations}}</td>
	</tr>
</table> 
</div>
{% endblock %}
